/vendor/
/node_modules/
/composer.lock

/etc/build/*
!/etc/build/.gitkeep

/yarn.lock
/tests/Application/yarn.lock

/compose.override.yaml
/deploy/
/etc

/yarn-error.log
/.envrc

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> lexik/jwt-authentication-bundle ###
/tests/Application/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
