includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    excludePaths:
        - 'src/Migrations/'
        - 'tests/'

    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#has no return type specified#'
        - '#generic interface .* does not specify its types#'
