includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    symfony:
        containerXmlPath: tests/Application/var/cache/test/Tests_MangoSylius_OrderCommentsPlugin_Application_KernelTestDebugContainer.xml

    excludePaths:
        - 'src/Migrations/'
        - 'tests/'

    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#has no return type specified#'
        - '#generic interface .* does not specify its types#'
